.container {
    width: clamp(200px, 100%, 540px);
    color: white;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    isolation: isolate;
}

.header {
    margin-top: 10vh;
    margin-bottom: 20px;
}

.todos {
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-desaturated-blue);
    color: var(--light-grayish-blue-dark);
    padding-bottom: 10px;
    border-radius: 10px;
}



.flex-container {
    display: flex;
    justify-content: space-between;
}


.controls-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls-flex-item {
    flex: 1;
}

.content-padding {
    padding-inline: 20px;
}