* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* light theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  /* dark theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --darker-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  background-color: var(--very-dark-blue);
}
.bg-img {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}
.title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.title {
  color: white;
}
/* ----- Header ----- */
/* ----- Todos ----- */

.todos-container {
  width: 100%;
  min-width: 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.todo-container {
  height: 50px;
  width: 100%;
  background-color: var(--very-dark-desaturated-blue);
  display: flex;
  align-items: center;
}
.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25px;
  margin-left: 15px;
}
.todo-container input {
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 15px;
  caret-color: var(--light-grayish-blue);
}
.todo-container input::placeholder {
  color: var(--dark-grayish-blue);
}
.add-todo {
  height: 20px;
  width: 20px;
  border: 1px var(--darker-grayish-blue) solid;
  border-radius: 50%;
  background-color: transparent;
}
